*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body,body>div,body>div>.row{
    height: inherit;
}
ul{
    list-style: none !important;
    padding-left: 0;
}
a{
    text-decoration: none;
}
.logo>a>img{
    width: 70%;
}
.logo{
    text-align: center;
}
.f1{
    background-color: #000;
    color: #fff;
}
.handle{
    padding: 0 26px;
    margin-bottom: 26px;
    cursor: pointer;
    user-select: none;

}
.handle_list{
    padding: 0 38px;
    list-style: none;
    display: none;
    height:3px;
    transition :height linear 1s;
    -webkit-transition: height linear 1s;
}
.sidebar_menu{
    border-top: 1px solid #999;
    padding-top: 15px;
}
.lable i{
    margin-right: 20px;
}
.lable.active{
    filter:brightness(0.4)
}
.handle_list a{
    color: rgba(255, 255, 255, 0.895);
    text-decoration: none;
    padding: 4px 0;
    display: block;
}
.handle a{
    font-size: 18px;
    font-weight: 600;
    filter: brightness(1);
    transition: filter linear 0.2s;
    color: #fff;
    text-decoration:none;
}
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    user-select: none;

}
.user>img{
    width: 30%;
    border-radius: 100%;
}
.user_name{
    margin: 8px 0 4px;
    font-weight: 700;
    color: #5882af;
    position: relative;
}
.more-list{
    margin-bottom: 0;
}
.more_user{
    position: absolute;
    top:calc(100% + 10px);
    background-color:#fff;
    z-index: 1;
    width: 100%;
    border-radius: 6px;
    display:none;
    animation: fadein linear 0.3s
}

.more_user a{
    display:block;
    color: #000;
    padding: 10px 12px;
    text-decoration: none;

}
.more_user a:hover{
    background-color:#5882af;
    transition:background-color linear 0.05s;
    color: #fff;
}

    
.user_level{
    font-size: 14px;
    opacity: 0.6;
}
.user_name>i:hover{
    filter: brightness(0.5);
    transition: all linear 0.2s;
}

@keyframes fadein{
    from{ opacity:0}
    to { opacity:1}
}