<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/header.css" />
    <link rel="stylesheet" href="/public/css/footer.css" />
    <link rel="stylesheet" href="/public/css/base.css" />
    <link rel="stylesheet" href="/public/css/category.css" />
    <link rel="stylesheet" href="../detailPage/css/detailPage.css" />
    <link
      rel="stylesheet"
      href="/public/fonts/fontawesome-free-6.1.2-web/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="/public/fonts/themify-icons/themify-icons.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Detail</title>
  </head>
  <body>
    <!-- header -->
    <header id="header">
      <div class="header__top">
        <div class="container d-flex h-100 justify-content-between">
          <strong class="header__top-label"
            >All BLVCK Skatewear, travel clothing Good friends only.</strong
          >
          <ul class="header__top-list">
            <li class="header__top-item">
              <a class="header__top-link">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
              <div class="header__top-item-label">Follow on Facebook</div>
            </li>
            <li class="header__top-item">
              <a class="header__top-link">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <div class="header__top-item-label">Follow on Instagram</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="masthead">
        <div class="container d-flex align-items-center">
          <div class="masthead__logo">
            <a
              href="/components/homePage/index.html"
              class="masthead__logo-link"
            >
              <img src="/public/img/masthead_logo.jpg" alt="" />
            </a>
          </div>
          <ul class="masthead__list align-items-center mr-auto">
            <li class="masthead__item">
              <a href="" class="masthead__item-link">
                <i class="fa-solid fa-magnifying-glass"></i>
              </a>
            </li>
            <li class="masthead__item">
              <a
                href="/components/homePage/index.html"
                class="masthead__item-link"
                >HOME PAGE</a
              >
            </li>
            <li class="masthead__item">
              <a
                href="/components/searchPage/searchPage.html"
                class="masthead__item-link"
                >SEARCH PAGE</a
              >
            </li>
          </ul>
          <ul class="masthead__list align-items-center">
            <li class="masthead__item">
              <a href="" class="masthead__item-link"> LOGIN </a>
            </li>
            <li class="header-divider"></li>
            <li class="masthead__item header-cart">
              <a href="" class="masthead__item-link">
                <span class="header-cart__title">
                  CART /
                  <span class="header-cart_price"> 0 </span>
                  <span class="header-cart__symbol">₫</span>
                </span>
                <span class="header-cart__icon">
                  <strong> 0 </strong>
                </span>
              </a>
              <div class="header-cart__list">
                <span class="header-cart-text">No products in the cart.</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!-- content -->

    <div class="container">
      <div class="contain-detail">
        <div class="row">
          <!-- Category -->
          <div class="col-xl-3 main-sPage__content-category line-border-right">
            <ul class="category-list">
              <li class="category-item">
                <a href="#" class="category-item-link"> Others </a>
              </li>
              <li class="category-item">
                <a href="#" class="category-item-link"> New Stuff </a>
              </li>
              <li class="category-item">
                <a href="#" class="category-item-link"> Accessories </a>
              </li>
              <li class="category-item">
                <a href="#" class="category-item-link"> Hoodie </a>
              </li>
              <li class="category-item">
                <a href="#" class="category-item-link"> Jacket </a>
              </li>
              <li class="category-item">
                <a href="#" class="category-item-link"> Long Sleeve </a>
              </li>
              <li class="category-item">
                <a href="#" class="category-item-link"> Pullover </a>
              </li>
              <li class="category-item">
                <a href="#" class="category-item-link"> Others </a>
              </li>
              <li class="category-item">
                <a href="#" class="category-item-link"> New Stuff </a>
              </li>
              <li class="category-item">
                <a href="#" class="category-item-link"> Accessories </a>
              </li>
              <li class="category-item">
                <a href="#" class="category-item-link"> Hoodie </a>
              </li>
              <li class="category-item">
                <a href="#" class="category-item-link"> Jacket </a>
              </li>
              <li class="category-item">
                <a href="#" class="category-item-link"> Long Sleeve </a>
              </li>
              <li class="category-item">
                <a href="#" class="category-item-link"> Pullover </a>
              </li>
            </ul>
          </div>
          <div class="col-xl-9 contain-detail__product">
            <div class="row">
                <div class="col-xl-6">
                  <div class="contain-detail__product-main">
                    <div class="control-detail__img-product">
                      <span class="detail-control-product detail__pre-product">
                        <i class="fa-solid fa-chevron-left"></i>
                      </span>
                      <div>
                        <img src="/components/detailPage/img/detail_img-product.jpg" alt="" class="detail__product-main-img">
                      </div>
                      <span class="detail-control-product  detail__next-product">
                        <i class="fa-solid fa-chevron-right"></i>
                      </span>
                    </div>
                    <span class="product-zoom__btn">
                      <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                    </span>
                  </div>
                  <ul class="detail__product-sub-list">
                    <li class="detail__product-sub-item choosen">
                      <img src="/components/searchPage/img/main_product-2.jpg" alt="">
                    </li>
                    <li class="detail__product-sub-item">
                      <img src="/components/homePage/img/main_product.jpg" alt="">
                    </li>
                    <li class="detail__product-sub-item">
                      <img src="/components/searchPage/img/main_product-2.jpg" alt="">
                    </li>
                  </ul>
                </div>
                <div class="col-xl-6">
                    <nav class="breadcrumbs_list">
                        <a href="/components/homePage/index.html" class="breadcrumb__link">HOME</a>
                        <span class="divider">/</span>
                        <a href="" class="breadcrumb__link breadcrumb__link">SHOP</a>
                        <span class="divider">/</span>
                        <a href="" class="breadcrumb__link breadcrumb__link">JACKET</a>
                    </nav>
                    <div class="detail__product-specific">
                      <h1 class="detail__product-name">2020 Travel Jacket</h1>
                      <span class="h-divider"></span>
                      <div class="detail__product-contain-price">
                        <span class="detail__product-price">550.000</span>
                        <span class="detail__product-symbolP">₫</span>
                      </div>
                      <form action="" class="form-cart">
                        <div class="form-cart__contain-size">
                          <label for="" class="form-cart__size-label">Size</label>
                          <ul class="form-cart__size-list">
                            <li class="form-cart__size-item">
                              <span class="form-cart__size-text">L</span>
                            </li>
                            <li class="form-cart__size-item">
                              <span class="form-cart__size-text">M</span>
                            </li>
                            <li class="form-cart__size-item">
                              <span class="form-cart__size-text">XL</span>
                            </li>
                          </ul>
                        </div>
                        <div class="form-cart__contain-add">
                            <div class="form-cart__control-quantity">
                              <span class="quantity-control quantity-control__minus">
                                <span>-</span>
                              </span>
                              <input type="text" class="control-quantity__current">
                              <span class="quantity-control quantity-control__plus">
                                <span>+</span>
                              </span>
                              
                            </div>
                            <button type="button" class="btn btn__add-cart">ADD TO CART</button>
                        </div>
                      </form>
                    </div>
                    <div class="detail__product-ship-calculator">
                      <h4 class="ship-calculator__title">Expected Delivery Information</h4>
                      <div class="ship-calculator__content">
                        <p class="ship-calculator__p">Enter your address to view shipping options. -</p>
                        <span class="ship-calculator__btn">Calculate shipping</span>
                      </div>
                    </div>
                    <div class="detail__product-meta">
                      <span class="sku-wrapper">
                        SKU: 
                        <span class="sku">N/A</span>
                      </span>
                      <span class="posted-in">
                        Category:
                        <a href="">Jacket</a>
                      </span>
                    </div>
                </div>
            </div>
            <div class="row product-footer">
              <ul class="product-footer_accordian">
                <li class="product-footer_accordian-item">
                  <i class="fa-solid fa-chevron-down"></i>
                  Description
                </li>
                <li class="product-footer_accordian-item">
                  <i class="fa-solid fa-chevron-down"></i>
				          Additional information			
                </li>
                <li class="product-footer_accordian-item">
                  <i class="fa-solid fa-chevron-down"></i>
				          Reviews (0)			
                </li>
              </ul>
              <div class="product-footer_related">
                <h2 class="product-footer_related-title">Related products</h2>
                <!-- Slider footer -->
                <div class="carousel-inner d-flex m-auto">
                  <div class="carousel-item active">
                    <ul class="row carousel-item-list">
                        <li class="col-xl-3 carousel-item-product">
                            <img src="/components/homePage/img/main_img.png" alt="">
                        </li>
                        <li class="col-xl-3 carousel-item-product">
                            <img src="/components/homePage/img/main_product-2.jpg" alt="">
                        </li>
                        <li class="col-xl-3 carousel-item-product">
                            <img src="/components/homePage/img/main_img.png" alt="">
                        </li>
                        <li class="col-xl-3 carousel-item-product">
                            <img src="/components/homePage/img/main_product-3.jpg" alt="">
                        </li>
                    </ul>
                  </div>
                  <div class="carousel-item">
                    <ul class="row carousel-item-list">
                        <li class="col-xl-3 carousel-item-product">
                            <img src="/components/homePage/img/main_img.png" alt="">
                        </li>
                        <li class="col-xl-3 carousel-item-product">
                            <img src="/components/homePage/img/main_product-5.jpg" alt="">
                        </li>
                        <li class="col-xl-3 carousel-item-product">
                            <img src="/components/homePage/img/main_product-4.jpg" alt="">
                        </li>
                        <li class="col-xl-3 carousel-item-product">
                            <img src="/components/homePage/img/main_img.png" alt="">
                        </li>
                    </ul>
                  </div>
                  <div class="carousel-item">
                    <ul class="row carousel-item-list">
                        <li class="col-xl-3 carousel-item-product">
                            <img src="/components/homePage/img/main_product-3.jpg" alt="">
                        </li>
                        <li class="col-xl-3 carousel-item-product">
                            <img src="/components/homePage/img/main_product-5.jpg" alt="">
                        </li>
                        <li class="col-xl-3 carousel-item-product">
                            <img src="/components/searchPage/img/main_product.jpg" alt="">
                        </li>
                        <li class="col-xl-3 carousel-item-product">
                            <img src="/components/homePage/img/main_img.png" alt="">
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer class="footer">
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-xl-3">
            <img
              src="/public/img/masthead_logo.jpg"
              alt=""
              class="footer_img"
            />
          </div>
          <div class="col-xl-3">
            <ul class="footer-list">
              <li class="footer-item">All BLACK</li>
              <li class="footer-item">Skatewear, travel clothing</li>
              <li class="footer-item">
                <span class="footer-item-social">
                  <i class="fa-brands fa-facebook-f"></i>
                </span>
                <span class="footer-item-social">
                  <i class="fa-brands fa-instagram"></i>
                </span>
              </li>
            </ul>
          </div>
          <div class="col-xl-3">
            <ul class="footer-list">
              <li class="footer-item">SUPPORT</li>
              <li class="footer-item">Sales Policy</li>
              <li class="footer-item">About Us</li>
            </ul>
          </div>
          <div class="col-xl-3">
            <img src="/public/img/footer-img.jpg" alt="" class="footer_img" />
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
