<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/homePage/css/style.css">
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <link rel="stylesheet" href="/public/fonts/fontawesome-free-6.1.2-web/css/all.min.css">
    <link rel="stylesheet" href="/public/fonts/themify-icons/themify-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Home Page</title>
</head>
<body>
    <div class="app">
        <!-- header -->
        <header id="header">
            <div class="header__top">
                <div class="container d-flex h-100 justify-content-between">
                    <strong class="header__top-label">All BLVCK Skatewear, travel clothing Good friends only.</strong>
                    <ul class="header__top-list">
                        <li class="header__top-item ">
                            <a class="header__top-link">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <div class="header__top-item-label">Follow on Facebook</div>
                        </li>
                        <li class="header__top-item ">
                            <a class="header__top-link">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <div class="header__top-item-label">Follow on Instagram</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="masthead">
                <div class="container d-flex align-items-center">
                    <div class="masthead__logo">
                        <a href="/components/homePage/index.html" class="masthead__logo-link">
                            <img src="/public/img/masthead_logo.jpg" alt="">
                        </a>
                    </div>
                    <ul class="masthead__list align-items-center mr-auto">
                        <li class="masthead__item">
                            <a href="" class="masthead__item-link">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                        </li>
                        <li class="masthead__item">
                            <a href="/components/searchPage/searchPage.html" class="masthead__item-link">SEARCH PAGE</a>
                        </li>
                        <li class="masthead__item">
                            <a href="/components/detailPage/detailPage.html" class="masthead__item-link">DETAIL PAGE</a>
                        </li>
                    </ul>
                    <ul class="masthead__list align-items-center">
                        <li class="masthead__item">
                            <a href="" class="masthead__item-link">
                                LOGIN
                            </a>
                        </li>
                        <li class="header-divider"></li>
                        <li class="masthead__item header-cart">
                            <a href="" class="masthead__item-link">
                                <span class="header-cart__title"> CART / 
                                    <span class="header-cart_price">
                                        0
                                    </span>
                                    <span class="header-cart__symbol">₫</span>
                                </span>
                                <span class="header-cart__icon">
                                    <strong>
                                        0
                                    </strong>
                                </span>
                            </a>
                            <div class="header-cart__list">
                                <span class="header-cart-text">No products in the cart.</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
        </header>
        <!-- main -->
        <main class="main">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-12">
                        <img src="/public/img/main-home-img.jpg" alt="" class="w-100">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 d-flex flex-column main__slider">
                        <h2 class="main__slider-heading">
                            <b></b>
                            <span class="main__slider-text">NEW REALEASE</span>
                            <b></b>
                            </h2>
                        <!-- slider -->
                        <div id="demo" class="carousel slide " data-ride="carousel">
                            <!-- The slideshow -->
                            <div class="carousel-inner d-flex m-auto">
                              <div class="carousel-item active">
                                <ul class="row carousel-item-list">
                                    <li class="col-xl-3 carousel-item-product">
                                        <img src="/components/homePage/img/main_img.png" alt="">
                                    </li>
                                    <li class="col-xl-3 carousel-item-product">
                                        <img src="/components/homePage/img/main_product-2.jpg" alt="">
                                    </li>
                                    <li class="col-xl-3 carousel-item-product">
                                        <img src="/components/homePage/img/main_img.png" alt="">
                                    </li>
                                    <li class="col-xl-3 carousel-item-product">
                                        <img src="/components/homePage/img/main_product-3.jpg" alt="">
                                    </li>
                                </ul>
                              </div>
                              <div class="carousel-item">
                                <ul class="row carousel-item-list">
                                    <li class="col-xl-3 carousel-item-product">
                                        <img src="/components/homePage/img/main_img.png" alt="">
                                    </li>
                                    <li class="col-xl-3 carousel-item-product">
                                        <img src="/components/homePage/img/main_product-5.jpg" alt="">
                                    </li>
                                    <li class="col-xl-3 carousel-item-product">
                                        <img src="/components/homePage/img/main_product-4.jpg" alt="">
                                    </li>
                                    <li class="col-xl-3 carousel-item-product">
                                        <img src="/components/homePage/img/main_img.png" alt="">
                                    </li>
                                </ul>
                              </div>
                              <div class="carousel-item">
                                <ul class="row carousel-item-list">
                                    <li class="col-xl-3 carousel-item-product">
                                        <img src="/components/homePage/img/main_product-3.jpg" alt="">
                                    </li>
                                    <li class="col-xl-3 carousel-item-product">
                                        <img src="/components/homePage/img/main_product-5.jpg" alt="">
                                    </li>
                                    <li class="col-xl-3 carousel-item-product">
                                        <img src="/components/searchPage/img/main_product.jpg" alt="">
                                    </li>
                                    <li class="col-xl-3 carousel-item-product">
                                        <img src="/components/homePage/img/main_img.png" alt="">
                                    </li>
                                </ul>
                              </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev d-flex justify-content-start carousel-control" href="#demo" data-slide="prev" >
                              <span class="carousel-control-prev-icon "></span>
                            </a>
                            <a class="carousel-control-next d-flex justify-content-end carousel-control" href="#demo" data-slide="next" >
                              <span class="carousel-control-next-icon "></span>
                            </a>
                          
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 d-flex flex-column main__slider">
                        <h2 class="main__slider-heading">
                            <b></b>
                            <span class="main__slider-text">ALL BLVCK SKATEWEAR, TRAVEL CLOTHING.</span>
                            <b></b>
                        </h2>
                        <div class="row">
                            <div class="col-xl-6 col-md-6 col-12 main__product d-flex justify-content-center align-items-center">
                                <img src="/components/homePage/img/main_product.jpg" alt="" class="main__product-img">
                            </div>
                            <div class="col-xl-6 col-md-6 col-12 main__product d-flex justify-content-center align-items-center">
                                <img src="/components/homePage/img/main_product.jpg" alt="" class="main__product-img">
                            </div>
                            <div class="col-xl-6 col-md-6 col-12 main__product d-flex justify-content-center align-items-center">
                                <img src="/components/homePage/img/main_product.jpg" alt="" class="main__product-img">
                            </div>
                            <div class="col-xl-6 col-md-6 col-12 main__product d-flex justify-content-center align-items-center">
                                <img src="/components/homePage/img/main_product.jpg" alt="" class="main__product-img">
                            </div>
                            <div class="col-xl-6 col-md-6 col-12 main__product d-flex justify-content-center align-items-center">
                                <img src="/components/homePage/img/main_product.jpg" alt="" class="main__product-img">
                            </div>
                            <div class="col-xl-6 col-md-6 col-12 main__product d-flex justify-content-center align-items-center">
                                <img src="/components/homePage/img/main_product.jpg" alt="" class="main__product-img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 d-flex flex-column main__slider">
                        <h2 class="main__slider-heading">
                            <b></b>
                            <span class="main__slider-text">HAVE FUN WITH THE HOMIES - LIFE STYLE</span>
                            <b></b>
                        </h2>
                        <div class="row">
                            <div class="col-xl-4 main__subProduct">
                                <img src="/components/homePage/img/main_subProduct.jpg" alt="">
                            </div>
                            <div class="col-xl-4 main__subProduct">
                                <img src="/components/homePage/img/main_subProduct.jpg" alt="">
                            </div>
                            <div class="col-xl-4 main__subProduct">
                                <img src="/components/homePage/img/main_subProduct.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- footer -->
        <footer class="footer">
            <div class="container">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-xl-3">
                        <img src="/public/img/masthead_logo.jpg" alt="" class="footer_img">
                    </div>
                    <div class="col-xl-3">
                        <ul class="footer-list">
                            <li class="footer-item">All BLACK</li>
                            <li class="footer-item">Skatewear, travel clothing</li>
                            <li class="footer-item">
                                <span class="footer-item-social">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </span>
                                <span class="footer-item-social">
                                    <i class="fa-brands fa-instagram"></i>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-3">
                        <ul class="footer-list">
                            <li class="footer-item">SUPPORT</li>
                            <li class="footer-item">Sales Policy</li>
                            <li class="footer-item">About Us</li>
                        </ul>
                    </div>
                    <div class="col-xl-3">
                        <img src="/public/img/footer-img.jpg" alt="" class="footer_img">
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>